absl-py==0.9.0
astroid==2.3.3
astunparse==1.6.3
blinker==1.4
brotlipy==0.7.0
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1598370769933/work
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography @ file:///tmp/build/80754af9/cryptography_1598371395109/work
cycler==0.10.0
ffpass==0.4.8
future==0.18.2
gast==0.3.3
google-auth @ file:///tmp/build/80754af9/google-auth_1596863485713/work
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
h5py @ file:///tmp/build/80754af9/h5py_1593454122442/work
httplib2==0.18.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
isort==4.3.21
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
Keras-Preprocessing==1.1.0
keras-tuner==1.0.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.0
Markdown @ file:///tmp/build/80754af9/markdown_1597433240441/work
matplotlib==3.3.1
mccabe==0.6.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numexpr==2.7.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233721170/work
oauthlib==3.1.0
opt-einsum==3.1.0
pandas @ file:///tmp/build/80754af9/pandas_1598371468004/work
pandastable==0.12.2.post1
patsy==0.5.1
Pillow==7.2.0
powerline-shell==0.7.0
protobuf==3.12.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.9.7
pyGRNN==0.1
PyJWT==1.7.1
pylint==2.4.4
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-docx==0.8.10
python-musicpd==0.4.4
pytz==2020.1
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376899566/work
scipy @ file:///tmp/build/80754af9/scipy_1597686649129/work
seaborn==0.10.1
six==1.15.0
statsmodels==0.11.1
tabulate==0.8.7
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminaltables==3.1.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tqdm==4.48.2
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
vim==0.0.1
Werkzeug==1.0.1
wrapt==1.11.2
xlrd==1.2.0
zipp==3.1.0
